@import '../../../src/common/styles/variables';


.header {
    background-color: $textColorSecondary;
    padding-top: 30px;
    padding-bottom: 70px;

    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            z-index: 2;
        }

        .navigation {
            display: flex;
            flex-flow: row nowrap;
            gap: 40px;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;

            span {
                cursor: pointer;
            }
        }
    }
}

.menu_btn {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    cursor: pointer;

    & span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #222222;
        transition: all 0.5s;

        &:nth-of-type(2) {
            top: calc(50% - 5px);
        }

        &:nth-of-type(3) {
            top: calc(50% + 5px);
        }
    }
}

.menu_btn_active {
    & span {
        &:nth-of-type(1) {
            display: none;
        }
        &:nth-of-type(2) {
            top: 50%;
            transform: translate(-50%, 0%) rotate(45deg);
        }
        &:nth-of-type(3) {
            top: 50%;
            transform: translate(-50%, 0%) rotate(-45deg);
        }
    }
}


@media screen and (max-width: 767px) {
    .header__container {
        justify-content: space-around !important;
    }
    .navigation {
        flex-flow: column nowrap !important;
        justify-content: center;
        align-items: center;
        gap: 40px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: $textColorSecondary;
        transform: translateX(-100%);
        transition: transform 0.5s;
    }
    .navigation_active {
        transform: translateX(0);
    }
    .menu_btn {
        display: block;
    }
}