.header {
    background-color: #f896c3;
}

.header__container {
    display: flex;
    justify-content: flex-end;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 5px 0;
    width: 500px;
    background-color: #c3f57b;
}

@media screen and (max-width : 767px) {
    .navigation {
        padding: 5px 5px;
    }
}