.about_me {
    background-color: #fa9b9b;
}

.about_me_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.description_container {
    background-color: #b2fafa;
}

.description {
    display: inline-block;
    font-size: 24px;
    padding: 5px;
}

.photo {
    height: 300px;
}

@media screen and (max-width : 767px) {
    .about_me_container {
        flex-direction: column;
    }
    .description_container {
        align-self: flex-start;
        margin-bottom: 30px;
    }
}